/*stylesheet*/

body {
	margin: 20px;
	background: black;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 1em;
}

h1 {
	font-weight: 700;
}

#wrapper {
	margin: 2em auto;
	max-width: 1200px;
}

#main {
	background: grey;
	margin: 2em;
	padding: 2em;
}

#sidebar {
	background: grey;

}

#sidebar h1{
	margin-top: 1em;
	margin-left: 1.5em;
}

#logo {
	padding: 3em 0;
	margin-left: 2em;
}

#logo h1{
	margin-top: 1em;
	margin: 0;
}

#logo img, .item img {
	width: 100%;
	height: auto;
}

.item img {
	margin-bottom: 2em;
	margin-right: 4em;
}

.item h1{
	text-align: center;
	margin-top: 1em;
}

#content {
	background: #595A5A;
}


#nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0
}

#nav li {
	margin-bottom: 1em;
}


.quote-holder {
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 3em;
}

.quote {
	font-size: 2em;
}


@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
	}

	#logo {
		text-align: center;
		padding: 2em 0;
	}

	#nav ul {
		display: flex;
		justify-content: space-between;
	}

	#nav li {
		display: inline;
		padding: .25em;
		background: purple;
		margin-bottom: 0;
	}

}