/*stylesheet*/

body {
	margin: 20px;
	color: white;
	font-family: 'Courgette', cursive;  
	font-weight: 200;
}

img{
	display: block;
	width: 100%;
	height: auto;
	background-image: 100%;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 0em;
}

h1 {
	font-weight: 400;
	font-size: 40pt;
}

#wrapper {
	margin: 2em auto;
	max-width: 1200px;
}

#main {
	background-image: "images/space.jpg"
	margin: 2em;
	padding: 2em;
}

#sidebar {
	background: white;

}

#sidebar h1{
	margin-top: .5em;
	margin bottom: 3em;
	text-align: center; 
	padding-top: 2em;
	padding-bottom: 2em;
	padding-right: 2em;
	padding-left: 2em;
	color: black;

}

#logo {
	padding: 1em 0;
	margin-left: 2em;
}

#logo h1{
	margin-top: 1em;
	margin: 0;
}

#logo img, .item img {
	width: 100%;
	height: auto;
}

.item img {
	margin-bottom: 2em;
	margin-right: 3em;
}

.item h1{
	text-align: center;
	margin-top: 1em;
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

.item p{
font-weight: 200;
font-size: 20pt;
font-family:'Montserrat', sans-serif;
margin-left: 1em;
margin-right: 1em;
margin-bottom: 3em;
padding-bottom: 5em;
padding-top: 0em;
}

#content {
	background: black;
}


#nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0
}

#nav li {
	margin-bottom: 1em;
}

#nav li a{
	color: black;
}

.quote-holder {
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 3em;
}

.quote {
	font-size: 20pt;
}


@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
	}

	#logo {
		text-align: center;
		padding: 2em 0;
	}

	#nav ul {
		display: flex;
		justify-content: space-between;
	}

	#nav li {
		display: inline;
		padding: .25em;
		background: purple;
		margin-bottom: 0;
	}

}