/*stylesheet*/

body {
	margin: 20px;
	color: white;
	font-family: 'Courgette', cursive;  
	font-weight: 200;
}

img{
	display: block;
	width: 100%;
	height: auto;
	background-image: 100%;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 0em;
}

h1 {
	font-weight: 400;
	font-size: 40pt;
}

#wrapper {
	margin: 2em auto;
	max-width: 1200px;
}

#main {
	background-image: "images/space.jpg"
	margin: 2em;
	padding: 2em;
}

#sidebar {
	background: white;

}

#sidebar h1{
	margin-top: .5em;
	text-align: center; 
	padding-top: 2em;
	padding-bottom: 2em;
	padding-right: 2em;
	padding-left: 2em;
	color: black;

}

#logo {
	padding: 1em 0;
	margin-left: 2em;
}

#logo h1{
	margin-top: 1em;
	margin: 0;
}

#logo img, .item img {
	width: auto;
	height: auto;
}

.item img {
	margin-right: 2em;
	margin-left: 10em;
	margin-top: 4em;
}

.item h1{
	text-align: center;
	margin-top: 1em;
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

.item p{
font-weight: 200;
font-size: 20pt;
font-family:'Montserrat', sans-serif;
margin-left: 1em;
margin-right: 1em;
margin-bottom: 3em;
padding-bottom: 5em;
padding-top: 0em;
}

#content {
	background: hotpink;
}


#nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0
}

#nav li {
	margin-bottom: 1em;
}

#nav li a{
	color: hotpink;
	text-align: center;
	margin-left: 4em;
	font-size: 25pt;
}

.quote-holder {
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 3em;
	margin-bottom: 2em;
	background-color: hotpink;
}

.quote {
	text-align: center;
	font-size: 35pt;
}

#projects {
	text-align: center;
	margin-left: 2em;
	margin-right: 2em;
}

#projects h2 {
	padding-bottom: 2em;
	color: white;
	font-size: 25pt;
}

#exquiste {
	position: relative;
	margin-bottom: 2em;
}


#exquisite .grid img{
	width: 100%;
	height: auto;
	margin-bottom: 0;
	display: grid;
}

#projects .grid-item .overlay .project-title h3 {
	margin-bottom: 0;
	text-align: center;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%
	height: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
}
.content {
	padding: 0rem;
}

#projects {
	margin-bottom: 2em;
}

#projects .grid-item{
position: relative;
color: white;
}

#projects .grid-item img {
	display: block;
	width: 100%;
	height: auto;
}

#projects .grid-item .overlay {
	transition: all .3s ease-in-out;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	display: flex;
	align-items: center;
	justify-content: center;
}

#projects .grid-item:hover .overlay {
	opacity: 1
}

#projects .grid-item .overlay .project-title h3{
	margin-bottom: 0;
}

#layering-fun {
	width: 500px;
	height: 500px;
	background: purple;
	position: relative;
}

.top {
	z-index: 4;
	position: absolute;
	left: 20px;
	bottom: 40%;
}

.mid {
	z-index: 3;
	background: yellow;
	position: absolute;
	left: 20px;
	bottom: 40%:;
}

@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
	}

	#logo {
		text-align: center;
		padding: 2em 0;
	}

	#nav ul {
		display: flex;
		justify-content: space-between;
	}

	#nav li {
		display: inline;
		padding: .25em;
		background: purple;
		margin-bottom: 0;
	}

}